* {
    font-family:  'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    flex-direction: column;
}

.logo {
    width: 100%;
}

.logo a{
    position: absolute;
    padding: 15px 25px;
    top: 0;
    color: #ffecd1;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.main-div {
    width: 530px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.40);
    border-radius: 12px;
    color: white;
}

.heading-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #A7C957;
}

.span-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 25px;
}


.form {
    margin-top: 15px;
}

.first-last-name-div {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
}

.field {
    width: 210px;
    height: 30px;
    border-radius: 7px;
    outline: none ;
    border: 2px solid #121212;
    padding: 7px 12px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.field:focus {
    transform: scale(1.04);
    border-color: #A7C957;
}

.field1 {
    width: 453px;
    height: 30px;
    border-radius: 7px;
    outline: none ;
    border: 2px solid #121212;
    padding: 8px 12px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.field1:focus {
    transform: scale(1.04);
    border-color: #A7C957;
}

.input-div {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.input-select{
    width: 90%;
    height: 30px;
    border-radius: 7px;
}

/* .profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-div label {

}

.profile-pic {
    width: 100%;
    max-width: 453px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #121212;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
} */

.submit-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.cancel-btn {
    background-color: whitesmoke !important;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5) !important; 
    border-color: #A7C957 !important;
    width: calc(100% - 300px);
}

.submit-btn {
    border-radius: 5px;
    height: 40px;
    width: calc(100% - 300px);
    font-weight: bold;
    color: black;
    cursor: pointer;
    outline: none;
    background-color: #A7C957;
    border: none;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #A7D957;
    transition: transform 0.3s ease;
}

.submit-btn:active {
    transform: scale(0.98);
}

.accept-div {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    color: white;

}

.accept-div label {
    cursor: pointer;
}

.accept {
    cursor: pointer;
}

.accept-link {
    text-decoration: none;
    color: #A7C957;
    display: inline-block;
    margin-left: 2px;
    transition: text-decoration 0.3s ease;
}

.accept-link:hover {
    text-decoration: underline;
    transition: transform 0.2s ease;
}

.accept-link:active {
    transform: scale(0.98);
}

.profilepic-div , .portfolio-div{
    display: flex;
    margin-top: 12px;
    width: 100%;
    justify-content: space-between;
    font-size: 17px;
    margin-left: 22px;
}

/* .profilepic-div-1-2 {
    background-color: red;
    width: 40%;
    display: flex;
    justify-content: right;
    margin-left: 50px;
} */

/* .profilepic-div-1-2 {
    background-color: black;
} */

.profilepic-div label,.portfolio-div label {
    margin-left: 16px;
}

#portfolio-doc:hover , #profile-pic:hover{
    cursor: pointer;
}

.login-div {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: white;

}

.login {
    text-decoration: none;
    display: inline-block;
    color: #A7C957;
}

.login:hover {
    text-decoration: underline;
    transition: transform 0.2s ease;
}

.login:active {
    transform: scale(0.98);
}

